{
 "presets": [
  [
   "env", {
   "targets": {
    "node": "current"
   }
  }
  ]
 ],
 "plugins": [
  ["babel-plugin-object-values-to-object-keys"],
  ["transform-object-rest-spread"],
  ["transform-class-properties"]
 ]
}